# ignore all directories not needed for image run (minimize size)

archive/
plots/
model/
hyper_tuning/
logs/
.idea
.git
# data/
__pycache__
  **/*Old.csv



# BASELINE -> auskommentieren !!!!!!!!!
  **/*full.csv
